.ml-2{
    margin-left: auto;
    text-align: center;
}
.mat-grid-tile{
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.example-card {
    width:100%;
    /* max-width: 400px; */
    margin-bottom: 8px;
  }
  .seats {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
  }
  .movie-image{
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.theatre{
    font-size: larger;
}
.row{
  display: flex;
}
.seat-icon{
  transform: scale(0.5);
  padding-top: 3px;
}