<div class="container mt-3">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:4" gutterSize="15" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let t of myTickets">
      <div class="row">
        <img class="movie-image rounded" src={{t.seats[0].movie.imageUrl}} alt="movie-bg">
        <div class="ml-2 mt-2">
          <p><b>{{t.movieName}}</b></p>
        </div>
        <div class="ml-2 theatre">
          <p>{{t.theatreName}}</p>
        </div>
        <div class="ml-2">
            <p>No.of tickets : <b>{{t.noOfTickets}}</b></p>
          </div>
          <div class="ml-2">
            Seats: <b><pre class="seats" *ngFor="let s of t.seats"><mat-icon class="seat-icon">event_seat</mat-icon>{{s.seatNumber}}</pre></b>
          </div>
        <div class="ml-2 mt-2">
          <p>Total ticket Cost: <b>Rs. {{t.totalCost}}</b></p>
        </div>
      </div>
    </mat-grid-tile>
</mat-grid-list>

</div>