.mat-grid-tile{
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.searchbar{
    margin: 0 auto;
    display: block;
}
.movie-image{
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.mat-grid-tile-footer{
    background-color: aliceblue;
}
.ml-2{
    margin-left: auto;
    text-align: center;
}
  .mat-grid-list {
    width: 100%; 
  }

  @media (max-width: 600px) {
    .mat-grid-list {
      grid-template-columns: repeat(1, 1fr); /* Set 1 column for small screens */
    }
  }
  
  /* Adjust grid list layout for medium screens */
  @media (min-width: 601px) and (max-width: 1024px) {
    .mat-grid-list {
      grid-template-columns: repeat(3, 1fr); /* Set 2 columns for medium screens */
    }
  }
  
  /* Adjust grid list layout for large screens */
  @media (min-width: 1025px) {
    .mat-grid-list {

      grid-template-columns: repeat(5, 1fr); /* Set 3 columns for large screens */
    }
  }