<div class="container mt-3">
      <mat-form-field appearance="outline" class="searchbar w-50">
        <mat-label>Search for Movies</mat-label>
        <input matInput type="text" name="search" id="search" 
        #searchKey (keyup)="searchByKeyword(searchKey.value)"
        placeholder="Search for Movies"><mat-icon matSuffix>search</mat-icon>
      </mat-form-field>


    <mat-grid-list cols="5" rowHeight="2:4" gutterSize="15">
        <mat-grid-tile *ngFor="let m of allMovies">
          <div class="row">
            <img class="movie-image rounded" src={{m.imageUrl}} alt="movie-bg">
            <div class="ml-2">
              <p><b>{{m.movieId.movieName}}</b></p>
            </div>
            <div class="ml-2">
              <p>{{m.movieId.theatreName}}</p>
            </div>
            <div class="ml-2">
              <p>Cost: <b>Rs. {{m.costOfTicket}}</b></p>
            </div>
            <div class="ml-2">
            <button mat-raised-button color="primary" *ngIf="m.ticketStatus=='Book ASAP'">{{m.ticketStatus}}</button>
            <button mat-stroked-button disabled *ngIf="m.ticketStatus=='SOLD OUT'" color="warn">{{m.ticketStatus}}</button>
          </div>
          </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>